<div class="dropdown">
    <button class="dropdown__btn" type="button">
        <span class="dropdown__selected">Не выбрано</span>
        <span class="dropdown__icon">
            <svg><use xlink:href="#dropdown"></svg>
        </span>
    </button>
    <div class="dropdown__content">
        <ul class="dropdown__options">
            <li class="dropdown__option active">
                Не выбрано
            </li>
            <li class="dropdown__option">
                Опция 1
            </li>
            <li class="dropdown__option">
                Опция 2
            </li>
            <li class="dropdown__option">
                Опция 3
            </li>
            <li class="dropdown__option">
                Опция 4
            </li>
        </ul>
    </div>
</div>