<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__grid">
                <div class="footer__item">
                    <span class="footer__item-label">Узнай о нас</span>
                    <div class="footer__item-content">
                        <a class="footer__logo" href="#" title="Footer Logo">
                            <img class="lazyload" src="img/logo-footer.png" alt="Footer Logo">
                        </a>
                    </div>
                </div>
                <div class="footer__item">
                    <span class="footer__item-label">Поделись</span>
                    <div class="footer__item-content">
                        <a class="footer__share" href="#" title="Footer Share">
                            <img class="lazyload" src="img/share.png" alt="Footer Share">
                        </a>
                    </div>
                </div>
                <div class="footer__item">
                    <span class="footer__item-label">Дружи с нами</span>
                    <div class="footer__item-content">
                        <a class="footer__social" href="#" title="Footer Social">
                            <img class="lazyload" src="img/social-1.png" alt="Footer Social">
                        </a>
                         <a class="footer__social" href="#" title="Footer Social">
                            <img class="lazyload" src="img/social-2.png" alt="Footer Social">
                        </a>
                    </div>
                </div>
                <div class="footer__item">
                    <span class="footer__item-label">Напиши нам</span>
                    <div class="footer__item-content">
                        <a class="footer__social" href="#" title="Footer Social">
                            <img class="lazyload" src="img/social-3.png" alt="Footer Social">
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <span class="footer__copyright-label">© 2014-2022 ООО «НВП «Астрафарм»</span>
                <a class="footer__policy" href="#">Политика конфиденциальности</a>
            </div>
        </div>
    </div>
</footer>