<header class="header">
    <div class="container">
      <div class="header__inner">
        <img class="header__logo lazyload" src="img/logo.png" alt="Logo">
        <span class="header__label">ТАК ПРОСТО — ТАК ЭФФЕКТИВНО</span>
        <a class="button header__button" href="#buy">ГДЕ КУПИТЬ</a>
      </div>
    </div>
</header>