<div class="navigation">
    <button class="navigation__button js-prev" type="button" title="Назад">
        <svg><use xlink:href="#arrow-l"></svg>
    </button>
    <span class="navigation__counter">1/3</span>
    <button class="navigation__button js-next" type="button" title="Вперед">
        <svg><use xlink:href="#arrow-r"></svg>
    </button>
</div>