.button {
  cursor: pointer;
  padding: 1rem 2.8rem 1rem;
  background-color: var(--primary-color);
  border: 0.2rem solid var(--primary-color);
  border-radius: 3rem;

  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;

  transition: color 0.3s ease, background-color 0.3s ease;

  &:link,
  &:visited {
      color: white;
  }

  &:hover,
  &:focus {
      background-color: white;
      color: var(--primary-color);
  }
}