.checkbox {

  display: flex;
  flex-direction: column;
  align-items: center;

  &__label {
    display: block;
    margin-bottom: 0.8rem;

    @media only screen and (max-width: (640px)) {
      font-size: 1.8rem;
    }
  }

  &__btn {
    position: relative;

    width: 9.2rem;
    height: 4.6rem;
    border-radius: 50em;

    background-color: var(--primary-color);

    // &:focus
    &:hover {
      .checkbox__target {
        border-color: var(--secondary-color);
      }
    }

    &.active {
      .checkbox__target {
        left: 4.6rem;
      }
    }
  }

  &__target {
    position: absolute;
    top: 0;
    left: 0;

    width: 4.6rem;
    height: 4.6rem;

    border-radius: 50%;

    background-color: white;

    border: 5px solid var(--primary-color);

    transition: border-color 0.3s ease, left 0.3s ease-in-out;

    &::after {
      content: '';

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      background-color: var(--primary-color);
    }
  }
}