.benefits {
  
  padding: 10rem 0 15rem;

  @media only screen and (max-width: (640px)) {
    padding: 5rem 0 5rem;
  }

  &__inner {
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30rem;

    @media only screen and (max-width: (640px)) {
      gap: 8rem;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    align-items: center;

    @media only screen and (max-width: (640px)) {
      grid-template-columns: 1fr;
      gap: 2.4rem;
    }

    // PIXEL PERFECT ...
    &:nth-child(1) .benefits__item-image-wrapper img {
      position: relative;
      left: 3rem;
      transform: scale(1.1);

      @media only screen and (max-width: (640px)) {
        position: static;
        left: unset;
        transform: scale(0.87)
      }
    }

    &:nth-child(2) .benefits__item-image-wrapper img {
      transform: scale(1.2);

      @media only screen and (max-width: (640px)) {
        transform: scale(1.1)
      }
    }

    &:nth-child(3) {
      margin-top: 6rem;

      @media only screen and (max-width: (640px)) {
        margin-top: 0;
      }

      .benefits__item-image-wrapper img {
        transform: scale(1.4);

        @media only screen and (max-width: (640px)) {
          transform: scale(1.2);
        }
      }

      .benefits__item-text-block {
        margin-right: 1rem;

        @media only screen and (max-width: (640px)) {
          margin-right: 0;
        }
      }
    }


    &:nth-child(2n + 2) {
      .benefits__item-image-wrapper {
        order: 2;

        @media only screen and (max-width: (640px)) {
          order: 0;
        }
      }
    }
  }

  &__item-image-wrapper {
    max-width: 30rem;
    justify-self: center;
    @media only screen and (max-width: (640px)) {
      max-width: 18rem;
      margin: 0 auto;
    }
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__item-text-block {
    

    display: flex;
    flex-direction: column;
    justify-content: center;

    @media only screen and (max-width: (640px)) {
      grid-column: span 1;
    }
  }

  &__item-title {
    margin-bottom: 2.2rem;
  }

  &__item-text {
  }
}