.intro {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  min-height: min(100vh, 108rem);

  padding-top: 5rem;
  padding-bottom: 15rem;
  
  @media only screen and (max-width: (640px)) {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    object-fit: cover;

    @media only screen and (max-width: (640px)) {
      height: auto;
    }
  }

  &__inner {
    flex-grow: 1;

    position: relative;
    z-index: 2;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8rem;

    margin-bottom: 2rem;

    @media only screen and (max-width: (640px)) {
      display: contents;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media only screen and (max-width: (640px)) {
      display: contents;
    }
  }

  &__logo {
    width: 36rem;
    height: auto;

    object-fit: contain;

    @media only screen and (max-width: (640px)) {
      position: relative;
      z-index: 2;

      order: 1;

      width: 18rem;
      margin-bottom: 4rem;
    }
  }

  &__title-block {
    position: relative;

    max-width: 42rem;
    margin-top: 9rem;

    @media only screen and (max-width: (640px)) {
      position: relative;
      z-index: 2;

      order: 4;

      margin: 4.5rem auto 0;
      max-width: 20rem;
    }
  }

  &__title {
    position: relative;
    z-index: 2;

    display: block;

    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.2;
    color: white;

    @media only screen and (max-width: (640px)) {
      font-size: 1.8rem;
      color: var(--text-color);
    }
  }

  &__title-image {
    position: absolute;
    bottom: calc(100% + 3rem);
    left: 0;
    z-index: 1;

    height: 13rem;

    object-fit: contain;

    @media only screen and (max-width: (640px)) {
      bottom: unset;
      left: unset;
      right: 0;
      bottom: -3rem;

      height: 6.5rem;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: (640px)) {
      position: relative;
      z-index: 2;

      order: 2;

      margin-bottom: 2rem;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    transform: scale(1.9) translateY(3rem);

    object-fit: contain;

    @media only screen and (max-width: (640px)) {
      width: calc(100% - 4rem);
      transform: scale(1.9) translateY(1.5rem);
      
    }
  }

  &__button {
    position: relative;
    z-index: 2;

    display: block;
    width: fit-content;
    margin: 0 auto;

    @media only screen and (max-width: (640px)) {
      order: 3;
    }
  }
}