.presentation {
  padding: 15rem 0;

  @media only screen and (max-width: (640px)) {
    padding: 0 0 7rem;
  }

  &__inner {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
  }

  &__slider {
    position: relative;

    @media only screen and (max-width: (640px)) {
      display: none;
    }
  }

  &__slider-wrapper {
    margin-bottom: 1rem;
  }

  &__slide-wrapper {
  }

  &__slide {
  }

  &__slide-image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  &__pesel {
    position: absolute;
    right: 5rem;
    bottom: -5rem;
    z-index: 2;
    pointer-events: none;

    width: 42.9rem;
    height: 26.3rem;

    object-fit: contain;
  }

  // mobile

  &__mobile {
    display: none;

    @media only screen and (max-width: (640px)) {
      display: block;
    }
  }

  &__mobile-image {
    width: 100%;
    height: auto;
    margin-bottom: 3rem;

    object-fit: contain;
  }

  &__mobile-list {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &__mobile-list-item {
    
  }

  &__mobile-list-item-title {
    margin-bottom: 2.4rem;

    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--primary-color);
  }

  &__mobile-list-item-text {
    font-size: 1.8rem;
    line-height: 1.2;
  }
}